@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300');

:root {
  --slider-height: 20px;
  --label-width: 26%;
  --input-thumb-colour: #000;
  --spacing: 6px;
  --margin-x: 0.8rem;
  --margin-y: 0.6rem;
  --border-color: #ccc;
  --border-size: 1px;
}

html {
  font-size: 1em;
}

body {
  font-family: 'Oswald', sans-serif;
  font-display: swap;
  font-size: 1.2rem;
  line-height: 1.2;
}

h1 {
  font-variation-settings: 'wdth' 200, 'wght' 200;
  font-size: 4vw;
  margin: var(--margin-y) var(--margin-x);
  position: absolute;
  z-index: 2;
  color: white;
}

h2 {
  font-size: 1.25rem;
  margin: 0 0 1rem;
}

.controls_heading {
  font-size: 1.2rem;
  line-height: 1.2;
  margin: 0;
}

p {
  font-variation-settings: 'wdth' 280, 'wght' 300;
}

.wrapper {
  margin: 0 auto;
  max-width: 960px;
  position: relative;
}

.video-wrapper {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
}

.video-wrapper canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.audio-output {
  color: white;
  position: absolute;
  margin: var(--margin-y) var(--margin-x);
  top: 6vw;
  left: 0;
  z-index: 1;
}

.audio-output dt,
.audio-output dd {
  display: block;
  float: left;
  margin-inline-start: 0;
  min-width: 76px;
  padding-right: var(--spacing);
}

.audio-output dt {
  clear: left;
}

.audio-controls,
.visual-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.visual-controls {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 var(--spacing);
  position: absolute;
  top: calc(var(--spacing) * 2);
  right: calc(var(--spacing) * 2);
  width: 360px;
  z-index: 1;
}

.form__heading {
  position: absolute;
  left: -999em;
}

.audio-controls {
  padding: var(--spacing) 0;
  margin-top: var(--spacing);
  border-top: var(--border-size) solid var(--border-color);
}

.audio-controls .form__heading,
.visual-controls .form__heading {
  flex-basis: 100%;
}

.audio-controls .fieldset {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--spacing) 0;
}

.fieldset + .fieldset {
  margin-top: var(--spacing);
  padding-top: var(--spacing);
}

.audio-controls .fieldset {
  flex-basis: 25%;
}

.audio-controls .controls__label {
  flex-basis: 30%;
}

.range-wrapper {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}

.range__input-wrapper {
  flex-basis: 50%;
  position: relative;
  margin-right: 6%;
}

.range-wrapper .controls__label {
  flex-basis: 20%;
  margin: 0;
  font-size: 1.2rem;
}

.range__value {
  margin: 0;
  flex-basis: 18%;
}

.range__input {
  width: 100%;
}

.radio-wrapper {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 0 6px;
  margin: 0 auto;
  flex-basis: 25%;
}

.radio-wrapper input,
.radio-wrapper label {
  position: relative;
  left: -30%;
}

.range-slider {
  position: relative;
}

.range-slider label {
  position: absolute;
  left: -999em;
}

.range-slider input[type='range'] {
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 5%;

  /* -webkit-appearance: none; */
  height: var(--slider-height);
  background-image: linear-gradient(
    to bottom,
    lighten(var(--input-thumb-colour), 60%) 0,
    var(--input-thumb-colour) 100%
  ); /* W3C */
}

input[type='range']::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
  -webkit-appearance: none;
  width: var(--slider-height);
  height: var(--slider-height);
  border: none;
  background-image: linear-gradient(
    to bottom,
    lighten(var(--input-thumb-colour), 60%) 0,
    var(--input-thumb-colour) 100%
  ); /* W3C */
}

.range-slider input[type='range']::-moz-range-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
  -moz-appearance: none;
  width: var(--slider-height);
  height: var(--slider-height);
  border: none;
  background-image: linear-gradient(
    to bottom,
    lighten(var(--input-thumb-colour), 60%) 0,
    var(--input-thumb-colour) 100%
  );
}

.range-slider input[type='range']::-ms-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
  -ms-appearance: none;
  width: var(--slider-height);
  height: var(--slider-height);
  border: 0;
  background-image: linear-gradient(
    to bottom,
    lighten(var(--input-thumb-colour), 60%) 0,
    var(--input-thumb-colour) 100%
  ); /* W3C */
}

.range-slider input[type='range']::-moz-range-track {
  position: relative;
  z-index: -1;
  background-color: rgba(0, 0, 0, 1);
  border: 0;
}

.range-slider input[type='range']:last-of-type::-moz-range-track {
  -moz-appearance: none;
  background: none transparent;
  border: 0;
}

.keyboard button {
  border: rgba(0, 0, 0, 1) solid 1px;
  background-color: white;
  width: 4%;
  height: 80px;
}

@media all and (max-width: 650px) {
  .audio-controls .fieldset {
    flex-basis: 100%;
  }
}

@media all and (max-width: 580px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media all and (max-width: 540px) {
  .audio-output {
    left: auto;
    right: 0;
    top: 0;
  }

  .keyboard button {
    text-indent: -999em;
  }

  .visual-controls {
    margin: var(--spacing) 0;
    padding: var(--spacing);
    position: static;
    width: auto;
  }

  .range-wrapper {
    justify-content: start;
    padding: var(--spacing) 0;
  }

  .range-wrapper .controls__label,
  .audio-controls .controls__label {
    flex-basis: var(--label-width);
  }
}

@media all and (max-width: 400px) {
  .keyboard button {
    width: 7.6%;
    border-top: 0 none;
    text-indent: 0;
  }
}
